# --- EC2NodeClass ---
apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  amiFamily: AL2023
  amiSelectorTerms:
    - alias: al2023@latest
  role: ${CLUSTER_NAME}-karpenter
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${CLUSTER_NAME}
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: ${CLUSTER_NAME}
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: "80Gi"       # must be string
        volumeType: gp3
        deleteOnTermination: true
  tags:
    Name: karpenter-node
    managed-by: karpenter

---

apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: default
spec:
  # Labels applied to all nodes created by this provisioner
  labels:
    karpenter.sh/provisioner-name: default
    purpose: spot
  # Node requirements
  requirements:
    - key: "node.kubernetes.io/instance-type"
      operator: In
      values:
        - t3.small
        - t3.medium
        - t3a.small
        - t3a.medium
    - key: "kubernetes.io/arch"
      operator: In
      values:
        - amd64
    - key: "kubernetes.io/lifecycle"
      operator: In
      values:
        - spot
  ttlSecondsAfterEmpty: 300  # 5 minutes
  consolidation:
    enabled: true
  provider:
    subnetSelector:
      karpenter.sh/discovery: ${CLUSTER_NAME}
    securityGroupSelector:
      karpenter.sh/discovery: ${CLUSTER_NAME}
    amiFamily: AL2023
    blockDeviceMappings:
      - deviceName: /dev/xvda
        ebs:
          volumeSize: "120Gi"
          volumeType: gp3
          deleteOnTermination: true




# # --- EC2NodeClass ---
# apiVersion: karpenter.k8s.aws/v1
# kind: EC2NodeClass
# metadata:
#   name: default
# spec:
#   amiFamily: AL2023
#   amiSelectorTerms:
#     - alias: al2023@latest
#   role: ${CLUSTER_NAME}-karpenter
#   #instanceProfile: ${CLUSTER_NAME}_instance_profile
#   subnetSelectorTerms:
#     - tags:
#         karpenter.sh/discovery: ${CLUSTER_NAME}
#   securityGroupSelectorTerms:
#     - tags:
#         karpenter.sh/discovery: ${CLUSTER_NAME}
#   blockDeviceMappings:
#     - deviceName: /dev/xvda
#       ebs:
#         volumeSize: 120Gi
#         volumeType: gp3
#         deleteOnTermination: true
#   #amiSelectorTerms:
#   #  - id: ami-05473caa821530341                    
#   tags:
#     Name: karpenter-node
#     managed-by: karpenter

# ---

# # --- NodePool ---
# apiVersion: karpenter.sh/v1
# kind: NodePool
# metadata:
#   name: default
# spec:
#   template:
#     spec:
#       nodeClassRef:
#         group: karpenter.k8s.aws
#         kind: EC2NodeClass
#         name: default
#       requirements:
#         - key: "node.kubernetes.io/instance-type"
#           operator: In
#           values:
#               - t3a.medium
#               - t3a.small
#               - t3.medium
#               - t3.small
#         - key: "kubernetes.io/arch"
#           operator: In
#           values: 
#               - amd64
#        -  key: "kubernetes.io/lifecycle"
#           operator: In
#           values:
#               - spot
#       labels:
#         karpenter.sh/provisioner-name: default
#   disruption:
#     consolidateAfter: 30s
#     consolidationPolicy: WhenEmpty
