name: Deploy EKS and Karpenter
on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    outputs:
       cluster_name: ${{ steps.tf_outputs.outputs.cluster_name }}
       cluster_endpoint: ${{ steps.tf_outputs.outputs.cluster_endpoint }}
       eks_public_access_enabled: ${{ steps.read_var.outputs.eks_public_access_enabled }}


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -upgrade

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve tfplan
      
      - name: Read eks_public_access_enabled from tfvars
        id: read_var
        run: |
          VALUE=$(grep -E '^eks_public_access_enabled' terraform/terraform.tfvars | awk -F'=' '{print $2}' | tr -d ' "')
          echo "eks_public_access_enabled=$VALUE" >> "$GITHUB_OUTPUT"

      - name: Export Terraform Outputs
        id: tf_outputs
        working-directory: ./terraform
        shell: bash
        run: |
          echo "Fetching Terraform outputs..."

          # Use the real terraform binary (bypass the wrapper)
          TF_CMD=$(which terraform)

          # Run quietly, strip debug and command lines
          #cluster_name=$($TF_CMD output -raw cluster_name 2>/dev/null | sed -E '/^\[command\]/d; /^::/d')
          #cluster_endpoint=$($TF_CMD output -raw cluster_endpoint 2>/dev/null | sed -E '/^\[command\]/d; /^::/d')
          cluster_name=$($TF_CMD output -raw cluster_name 2>/dev/null | sed -E 's/::debug::Terraform exited with code 0\.//; /^\[command\]/d; /^::/d; s/[[:space:]]+$//')
          cluster_endpoint=$($TF_CMD output -raw cluster_endpoint 2>/dev/null | sed -E 's/::debug::Terraform exited with code 0\.//; /^\[command\]/d; /^::/d; s/[[:space:]]+$//')


          # Validate outputs
          if [ -z "$cluster_name" ] || [ -z "$cluster_endpoint" ]; then
            echo "Failed to fetch Terraform outputs. Check your Terraform output definitions."
            $TF_CMD output
            exit 1
          fi

          echo "Parsed Outputs:"
          echo " - cluster_name: $cluster_name"
          echo " - cluster_endpoint: $cluster_endpoint"

          # Export for next jobs
          {
            echo "cluster_name=$cluster_name"
            echo "cluster_endpoint=$cluster_endpoint"
          } >> "$GITHUB_OUTPUT"

